:root {
    --mdb-blue: #0d6efd;
    --mdb-indigo: #6610f2;
    --mdb-purple: #6f42c1;
    --mdb-pink: #d63384;
    --mdb-red: #dc3545;
    --mdb-orange: #fd7e14;
    --mdb-yellow: #ffc107;
    --mdb-green: #198754;
    --mdb-teal: #20c997;
    --mdb-cyan: #0dcaf0;
    --mdb-gray: #757575;
    --mdb-gray-dark: #4f4f4f;
    --mdb-primary: #1266f1;
    --mdb-secondary: #b23cfd;
    --mdb-success: #00b74a;
    --mdb-info: #39c0ed;
    --mdb-warning: #ffa900;
    --mdb-danger: #f93154;
    --mdb-light: #fbfbfb;
    --mdb-dark: #262626;
    --mdb-white: #fff;
    --mdb-black: #000;
    --mdb-font-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --mdb-font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    --mdb-gradient: linear-gradient(180deg,hsla(0,0%,100%,0.15),hsla(0,0%,100%,0))
}

*,:after,:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

@media(prefers-reduced-motion:no-preference) {
    :root {
        scroll-behavior: smooth
    }
}

body {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    background-color: #fff;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0)
}

hr {
    margin: 1rem 0;
    color: inherit;
    background-color: currentColor;
    border: 0;
    opacity: .25
}

hr:not([size]) {
    height: 1px
}

.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2
}

.h1,h1 {
    font-size: calc(1.375rem + 1.5vw)
}

@media(min-width: 1200px) {
    .h1,h1 {
        font-size:2.5rem
    }
}

.h2,h2 {
    font-size: calc(1.325rem + .9vw)
}

@media(min-width: 1200px) {
    .h2,h2 {
        font-size:2rem
    }
}

.h5,h5 {
    font-size: 1.25rem
}

.h6,h6 {
    font-size: 1rem
}

p {
    margin-top: 0;
    margin-bottom: 1rem
}

ol,ul {
    padding-left: 2rem
}

dl,ol,ul {
    margin-top: 0;
    margin-bottom: 1rem
}

ol ol,ol ul,ul ol,ul ul {
    margin-bottom: 0
}

b,strong {
    font-weight: bolder
}

a {
    color: #1266f1;
    text-decoration: underline
}

code,kbd,pre,samp {
    font-family: var(--mdb-font-monospace);
    font-size: 1em;
    /*!rtl:ignore*/
    direction: ltr;
    unicode-bidi: bidi-override
}

pre {
    display: block;
    margin-top: 0;
    margin-bottom: 1rem;
    overflow: auto;
    font-size: .875em
}

pre code {
    font-size: inherit;
    color: inherit;
    word-break: normal
}

code {
    font-size: .875em;
    color: #d63384;
    word-wrap: break-word
}

img,svg {
    vertical-align: middle
}

table {
    caption-side: bottom;
    border-collapse: collapse
}

th {
    text-align: inherit;
    text-align: -webkit-match-parent
}

tbody,td,tfoot,th,thead,tr {
    border: 0 solid;
    border-color: inherit
}

label {
    display: inline-block
}

button {
    border-radius: 0
}

button,input,optgroup,select,textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit
}

button,select {
    text-transform: none
}

[role=button] {
    cursor: pointer
}

[type=button],[type=reset],[type=submit],button {
    -webkit-appearance: button
}

[type=button]:not(:disabled),[type=reset]:not(:disabled),[type=submit]:not(:disabled),button:not(:disabled) {
    cursor: pointer
}

[type=search] {
    outline-offset: -2px;
    -webkit-appearance: textfield
}

.img-fluid,.img-thumbnail {
    max-width: 100%;
    height: auto
}

.container,.container-fluid,.container-lg,.container-md,.container-sm,.container-xl,.container-xxl {
    width: 100%;
    padding-right: var(--mdb-gutter-x,.75rem);
    padding-left: var(--mdb-gutter-x,.75rem);
    margin-right: auto;
    margin-left: auto
}


@media(min-width: 576px) {
    .container,.container-sm {
        max-width:540px
    }
}

@media(min-width: 768px) {
    .container,.container-md,.container-sm {
        max-width:720px
    }
}

@media(min-width: 992px) {
    .container,.container-lg,.container-md,.container-sm {
        max-width:960px
    }
}

@media(min-width: 1200px) {
    .container,.container-lg,.container-md,.container-sm,.container-xl {
        max-width:1140px
    }
}

@media(min-width: 1400px) {
    .container,.container-lg,.container-md,.container-sm,.container-xl,.container-xxl {
        max-width:1320px
    }
}

.row {
    --mdb-gutter-x: 1.5rem;
    --mdb-gutter-y: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: calc(var(--mdb-gutter-y)*-1);
    margin-right: calc(var(--mdb-gutter-x)/-2);
    margin-left: calc(var(--mdb-gutter-x)/-2)
}

.row>* {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--mdb-gutter-x)/2);
    padding-left: calc(var(--mdb-gutter-x)/2);
    margin-top: var(--mdb-gutter-y)
}

.col-md-1,.col-md-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto
}

.col-md-2 {
    width: 16.6666666667%
}

.col-md-5 {
    width: 41.6666666667%
}

.col-md-5,.col-md-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto
}

.col-md-7 {
    width: 58.3333333333%
}

.col-md-7,.col-md-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto
}

.col-md-9,.col-md-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto
}

.col-md-10 {
    width: 83.3333333333%
}

.table {
    --mdb-table-bg: transparent;
    --mdb-table-striped-color: #212529;
    --mdb-table-striped-bg: rgba(0,0,0,0.05);
    --mdb-table-active-color: #212529;
    --mdb-table-active-bg: rgba(0,0,0,0.1);
    --mdb-table-hover-color: #212529;
    --mdb-table-hover-bg: rgba(0,0,0,0.075);
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    vertical-align: top;
    border-color: #e0e0e0
}

.table>:not(caption)>*>* {
    background-color: var(--mdb-table-bg);
    border-bottom-width: 1px;
    -webkit-box-shadow: inset 0 0 0 9999px var(--mdb-table-accent-bg);
    box-shadow: inset 0 0 0 9999px var(--mdb-table-accent-bg)
}

.table>tbody {
    vertical-align: inherit
}

.table>thead {
    vertical-align: bottom
}

.caption-top {
    caption-side: top
}

.table-bordered>:not(caption)>* {
    border-width: 1px 0
}

.table-bordered>:not(caption)>*>* {
    border-width: 0 1px
}

.form-label {
    margin-bottom: .5rem;
    color: rgba(0,0,0,.6)
}

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6;
    color: #4f4f4f;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    -webkit-transition: all .2s linear;
    transition: all .2s linear
}

.form-check {
    display: block;
    min-height: 1.6rem;
    padding-left: 1.5em;
    margin-bottom: .125rem
}

.form-check .form-check-input {
    float: left;
    margin-left: -1.5em
}

.form-check-input {
    width: 1em;
    height: 1em;
    margin-top: .3em;
    vertical-align: top;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: contain;
    border: 1px solid rgba(0,0,0,.25);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-print-color-adjust: exact;
    color-adjust: exact
}

.form-check-input[type=checkbox] {
    border-radius: .25em
}

.btn {
    display: inline-block;
    color: #4f4f4f;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: .125rem solid transparent;
    padding: .375rem .75rem;
    border-radius: .25rem;
    -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out
}

.btn-link {
    font-weight: 400;
    color: #1266f1;
    text-decoration: underline
}

.btn-link:hover {
    color: #0e52c1
}

.btn-link.disabled,.btn-link:disabled {
    color: #757575
}

.btn-group-lg>.btn,.btn-lg {
    padding: .5rem 1rem;
    border-radius: .3rem
}

.btn-group-sm>.btn,.btn-sm {
    padding: .25rem .5rem;
    border-radius: .2rem
}

.fade {
    -webkit-transition: opacity .15s linear;
    transition: opacity .15s linear
}

@media(prefers-reduced-motion:reduce) {
    .fade {
        -webkit-transition: none;
        transition: none
    }
}

.fade:not(.show) {
    opacity: 0
}

.collapse:not(.show) {
    display: none
}

.dropdown,.dropend,.dropstart,.dropup {
    position: relative
}

.dropdown-toggle {
    white-space: nowrap
}

.dropdown-toggle:after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent
}

.dropdown-toggle:empty:after {
    margin-left: 0
}

.dropdown-menu {
    position: absolute;
    z-index: 1000;
    display: none;
    min-width: 10rem;
    padding: .5rem 0;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem
}

.dropdown-menu[data-mdb-popper] {
    top: 100%;
    left: 0;
    margin-top: .125rem
}

.dropdown-menu-start {
    --bs-position: start
}

.dropdown-menu-start[data-mdb-popper] {
    /*!rtl:ignore*/
    right: auto;
    /*!rtl:ignore*/
    left: 0
}

.dropdown-menu-end {
    --bs-position: end
}

.nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}

.nav-link {
    display: block;
    padding: .5rem 1rem;
    color: #1266f1;
    text-decoration: none;
    -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out
}

.nav-pills .nav-link {
    background: none;
    border: 0
}

.nav-fill .nav-item,.nav-fill>.nav-link {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    text-align: center
}

.nav-justified .nav-item,.nav-justified>.nav-link {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    text-align: center
}

.nav-fill .nav-item .nav-link,.nav-justified .nav-item .nav-link {
    width: 100%
}

.tab-content>.tab-pane {
    display: none
}

.tab-content>.active {
    display: block
}

.navbar {
    position: relative;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-top: .5rem;
    padding-bottom: .5rem
}

.navbar,.navbar>.container,.navbar>.container-fluid,.navbar>.container-lg,.navbar>.container-md,.navbar>.container-sm,.navbar>.container-xl,.navbar>.container-xxl {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.navbar>.container,.navbar>.container-fluid,.navbar>.container-lg,.navbar>.container-md,.navbar>.container-sm,.navbar>.container-xl,.navbar>.container-xxl {
    -ms-flex-wrap: inherit;
    flex-wrap: inherit
}

.navbar-brand {
    padding-top: .3rem;
    padding-bottom: .3rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    text-decoration: none;
    white-space: nowrap
}

.navbar-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}

.navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0
}

.navbar-nav .dropdown-menu {
    position: static
}

@media(min-width: 992px) {
    .navbar-expand-lg {
        -ms-flex-wrap:nowrap;
        flex-wrap: nowrap;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start
    }

    .navbar-expand-lg .navbar-nav {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row
    }

    .navbar-expand-lg .navbar-nav .dropdown-menu {
        position: absolute
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: .5rem;
        padding-left: .5rem
    }

    .navbar-light .navbar-nav .nav-link {
        color: rgba(0,0,0,.55)
    }

    .card {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0,0,0,.125);
        border-radius: .25rem
    }

    .card-body {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        padding: 1rem
    }
    
    .card-title {
        margin-bottom: .5rem
    }

    .modal {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1060;
        display: none;
        width: 100%;
        height: 100%;
        overflow: hidden;
        outline: 0
    }
    
    .modal-dialog {
        position: relative;
        width: auto;
        margin: .5rem;
        pointer-events: none
    }
    
    .modal.fade .modal-dialog {
        -webkit-transition: -webkit-transform .3s ease-out;
        transition: -webkit-transform .3s ease-out;
        transition: transform .3s ease-out;
        transition: transform .3s ease-out,-webkit-transform .3s ease-out;
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px)
    }

    .modal-content,.modal-dialog-centered {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex
    }
    
    .modal-content {
        position: relative;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 100%;
        pointer-events: auto;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid rgba(0,0,0,.2);
        border-radius: .3rem;
        outline: 0
    }

    .modal-body {
        position: relative;
        -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        padding: 1rem
    }

    @media(min-width: 576px) {
        .modal-dialog {
            max-width:500px;
            margin: 1.75rem auto
        }

        .fixed-top {
            top: 0
        }
        
        .fixed-bottom,.fixed-top {
            position: fixed;
            right: 0;
            left: 0;
            z-index: 1030
        }
        
        .fixed-bottom {
            bottom: 0
        }
        
        .sticky-top {
            position: sticky;
            top: 0;
            z-index: 1020
        }

        .position-relative {
            position: relative!important
        }

        .border {
            border: 1px solid #e0e0e0!important
        }

        .w-100 {
            width: 100%!important
        }
        
        .w-auto {
            width: auto!important
        }
        
        .mw-100 {
            max-width: 100%!important
        }
        
        .vw-100 {
            width: 100vw!important
        }
        
        .min-vw-100 {
            min-width: 100vw!important
        }
        
        .h-25 {
            height: 25%!important
        }
        
        .h-50 {
            height: 50%!important
        }
        
        .h-75 {
            height: 75%!important
        }
        
        .h-100 {
            height: 100%!important
        }

        .flex-row {
            -webkit-box-orient: horizontal!important;
            -ms-flex-direction: row!important;
            flex-direction: row!important
        }
        
        .flex-column,.flex-row {
            -webkit-box-direction: normal!important
        }
        
        .flex-column {
            -webkit-box-orient: vertical!important;
            -ms-flex-direction: column!important;
            flex-direction: column!important
        }

        .justify-content-center {
            -webkit-box-pack: center!important;
            -ms-flex-pack: center!important;
            justify-content: center!important
        }
        
        .justify-content-between {
            -webkit-box-pack: justify!important;
            -ms-flex-pack: justify!important;
            justify-content: space-between!important
        }
        
        .justify-content-around {
            -ms-flex-pack: distribute!important;
            justify-content: space-around!important
        }
        
        .justify-content-evenly {
            -webkit-box-pack: space-evenly!important;
            -ms-flex-pack: space-evenly!important;
            justify-content: space-evenly!important
        }
        
        .align-items-start {
            -webkit-box-align: start!important;
            -ms-flex-align: start!important;
            align-items: flex-start!important
        }
        
        .align-items-end {
            -webkit-box-align: end!important;
            -ms-flex-align: end!important;
            align-items: flex-end!important
        }
        
        .align-items-center {
            -webkit-box-align: center!important;
            -ms-flex-align: center!important;
            align-items: center!important
        }

        .me-1 {
            margin-right: .25rem!important
        }
        
        .me-2 {
            margin-right: .5rem!important
        }
        
        .me-3 {
            margin-right: 1rem!important
        }
        
        .me-4 {
            margin-right: 1.5rem!important
        }
        
        .me-5 {
            margin-right: 3rem!important
        }
        
        .me-auto {
            margin-right: auto!important
        }
        
        .mb-0 {
            margin-bottom: 0!important
        }
        
        .mb-1 {
            margin-bottom: .25rem!important
        }
        
        .mb-2 {
            margin-bottom: .5rem!important
        }
        
        .mb-3 {
            margin-bottom: 1rem!important
        }
        
        .mb-4 {
            margin-bottom: 1.5rem!important
        }
        
        .mb-5 {
            margin-bottom: 3rem!important
        }

        .ms-auto {
            margin-left: auto!important
        }

        .p-0 {
            padding: 0!important
        }
        
        .p-1 {
            padding: .25rem!important
        }
        
        .p-2 {
            padding: .5rem!important
        }
        
        .p-3 {
            padding: 1rem!important
        }
        
        .p-4 {
            padding: 1.5rem!important
        }
        
        .p-5 {
            padding: 3rem!important
        }

        .py-0 {
            padding-top: 0!important;
            padding-bottom: 0!important
        }
        
        .py-1 {
            padding-top: .25rem!important;
            padding-bottom: .25rem!important
        }
        
        .py-2 {
            padding-top: .5rem!important;
            padding-bottom: .5rem!important
        }
        
        .py-3 {
            padding-top: 1rem!important;
            padding-bottom: 1rem!important
        }
        
        .py-4 {
            padding-top: 1.5rem!important;
            padding-bottom: 1.5rem!important
        }
        
        .py-5 {
            padding-top: 3rem!important;
            padding-bottom: 3rem!important
        }
        
        .pt-0 {
            padding-top: 0!important
        }
        
        .pt-1 {
            padding-top: .25rem!important
        }
        
        .pt-2 {
            padding-top: .5rem!important
        }
        
        .pt-3 {
            padding-top: 1rem!important
        }
        
        .pt-4 {
            padding-top: 1.5rem!important
        }
        
        .pt-5 {
            padding-top: 3rem!important
        }

        .fw-bold {
            font-weight: 700!important
        }
        
        .fw-bolder {
            font-weight: bolder!important
        }
        
        .lh-1 {
            line-height: 1!important
        }
        
        .lh-sm {
            line-height: 1.25!important
        }
        
        .lh-base {
            line-height: 1.6!important
        }
        
        .lh-lg {
            line-height: 2!important
        }
        
        .text-start {
            text-align: left!important
        }
        
        .text-end {
            text-align: right!important
        }
        
        .text-center {
            text-align: center!important
        }
        

